* {
    margin: 0;
    padding: 0;
    
    @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Amatic+SC:wght@700&family=Oswald:wght@700&display=swap');
  
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.squarespace-cdn.com/content/63f3e5fd4d968c376e9f4d3d/1679784282713-DJ3EHNLTERVBJC742JR1/Pineapple%25252Btepache%25252Bcasa%25252Bjacaranda%25252Bauthentic.jpg?format=1500w&content-type=image%2Fjpeg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-size: 25px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

.row .col a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

h1 {
    color: rgb(229, 255, 0);
    font-size: 40px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

p {
    color: rgb(248, 139, 6);
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

button {
    width: 180px;
    color: #ff00ea;
    /*font-size: 20px;*/
    padding: 12px 0;
    background: #740847;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(img/26367aa08bd2e1489519bc773310e7ff.jpg);
}

.card2 {
    background-image: url(img/2b5a41056a4971387374ac1cc558c1ba.jpg);
}

.card3 {
    background-image: url(img/cd23b1aca3ad19e8a564236e181a0ee9.jpg);
}

.card4 {
    background-image: url(img/de49ab50778096c17dfc7a1d3b5aec80.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: #fff;
    text-shadow: 0 0 10px #999;
}

.card p {
    text-shadow: 0 0 15px #000000;
    font-size: 10px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .container {
        padding: 8% 4%;
        /* Ajustamos el padding en pantallas pequeñas */
    }

    .navbar {
        height: auto;
        /* Ajustamos la altura del navbar */
        flex-direction: column;
        /* Cambiamos la dirección para que sea una lista vertical */
        align-items: flex-start;
        /* Alineamos los elementos a la izquierda */
    }

    .navbar .menu-icon {
        margin-left: 0;
        /* Eliminamos el margen izquierdo en pantallas pequeñas */
        margin-top: 10px;
        /* Agregamos un margen superior */
    }

    nav {
        text-align: left;
        /* Alineamos el texto a la izquierda */
        margin-top: 10px;
        /* Agregamos un margen superior */
    }

    nav ul li {
        margin-left: 0;
        /* Eliminamos el margen izquierdo en los elementos de la lista */
        margin-bottom: 10px;
        /* Agregamos un margen inferior */
    }

    nav ul li a:hover {
        color: #fdfdfd;
        /* Cambiamos el color al pasar el cursor */
    }

    .row {
        flex-direction: column;
        /* Cambiamos la dirección para que sea una lista vertical */
        height: auto;
        /* Ajustamos la altura */
    }

    .col {
        flex-basis: 100%;
        /* Ocupa todo el ancho disponible */
    }

    h1 {
        font-size: 40px;
        /* Reducimos el tamaño del título */
    }

    p {
        font-size: 10px;
        /* Reducimos el tamaño del texto */
        line-height: 12px;
        /* Ajustamos la altura de línea */
    }

    button {
        width: 100%;
        /* Ocupa todo el ancho disponible */
        margin-top: 20px;
        /* Ajustamos el margen superior */
    }

    .card {
        width: 100%;
        /* Ocupa todo el ancho disponible */
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Puedes agregar estilos específicos para tabletas si es necesario */
}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
    /* Puedes agregar estilos específicos para escritorios si es necesario */
}

/* Cambio de color del menú al pasar el cursor para todas las pantallas */
.navbar nav ul li a:hover {
    color: #ee7905;
}